$blue: hsl(240, 67%, 67.5%);
$lightblue: hsl(183, 67%, 67.5%);
$green: hsl(125, 67%, 67.5%);
$lightgreen: hsl(85, 67%, 67.5%);
$yellow: hsl(46, 67%, 67.5%);
$red: hsl(0, 67%, 67.5%);
$orange: hsl(27, 67%, 67.5%);
$grey: hsl(0, 0%, 67.5%);
$black: hsl(0, 0%, 10%);
$background: hsl(0, 0%, 20%);


html,
body, button{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-color: $background;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  display: inline-block !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: instant !important;
}

.my-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $background;
}

main{
  width: 800px;
  max-width: 100%;
  padding: 1rem;
  margin:auto;
}

h1,h2,h3{
  text-align: center;
}

.select-with-button{
  display: flex;
  align-items: center;
  gap: .5rem;
  >div{
    width: 100%;
  }
}

.scroller-filters{
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  label{
    display: flex;
    gap: .5rem;
    input{
      zoom: 150%;
    }
  }
}

.template-group{
  width: 400px;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 2;
}
.form-group{
  label, span{
    color: white;
  }
  label{
    font-weight: 600;
  }
  display: grid;
  gap: .25rem;
  grid-template-columns: 200px 400px;
  &.genres button{
    padding: 0;
    height: 36px;
    width: 45px;
    font-size: 1rem;
  }
  align-items: center;
  @media screen and (max-width: 700px){
    grid-template-columns: 1fr;
  }
  &.submit{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: .5rem;
  }
}
.c-button{
  background-color: $blue;
  padding: .5em 1.5em;
  border-radius: .25em;
  color: white !important;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  &.red{background-color: $red;}
  &.green{background-color: $green; color: black !important;}
  &.yellow{background-color: $yellow; color:black !important;}
  &.grey{background-color: $grey;}
  &:disabled{
    opacity: .5;
    cursor: not-allowed;
  }
}

.accordion-header{
  .accordion-button{
    display: flex;
    align-items: center;
    gap: .5rem;
    .form-switch{
      margin: 0;
    }
    span{
      padding: .25em 0
    }
  }
  &.not-filtering{
    .accordion-button{
      background-color: rgb(255, 176, 176);
      color: grey;
    }
  }
}

.accordion-body{
  background-color: #333333;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@keyframes infiniteRotate {    
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader{
  font-size: 2rem;
  color: white;
  animation: infiniteRotate .5s linear infinite;
}

.end-scroll{
  display: flex;
  justify-content: center;
  padding: 1rem;
  &:not(.loading){
    .loader{
      opacity: 0;
    }
  }
}

.media-container{
  &.no-display{
    display: none;
  }
}

.media-popup{
  position: relative;
  z-index: 150;
}

.medias{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  @media screen and (max-width: 800px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 460px){
    grid-template-columns: repeat(2, 1fr);
  }
}
.media{
  color: white !important;
  img{
    width: 100%;
  }
  &.clickable{
    cursor: pointer;
  }
  &:not(.clickable){
    cursor: unset;
  }
  .cover{
    width: 100%;
    aspect-ratio: 18/27;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    position: relative;
    .add-favorites, .icon-container.hide{
      opacity: 0;
      transition: .5s;
    }
    &:hover{
      .add-favorites, .icon-container.hide{
        opacity: 1;
      }
    }
    @media screen and (max-width: 960px){
      .add-favorites, .icon-container.hide{
        opacity: 1;
      } 
    }
    .thumbnail{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333333;
      z-index: 1;
      transition: .25s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .main-image{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .cover-title{
    overflow: hidden;
    font-size: .9em;
    padding: 0.25em .5em;
    &.ontop{
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      color: white !important;
      background-color: rgba(0, 0, 0, .5);
      font-weight: 600;
      width: 100%;
      padding: .5em;
      display: flex;
      height: auto;
      align-items: flex-end;
      font-size: .8em;
    }
  }
  .flag-container{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 15px;
    .flag{
      width: 2rem !important;
      height: 2rem !important;
    }
  }
  .alert{
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: inset .25px -.25px 5px .25px rgba(0, 0, 0, 0.5);
    &.upcoming{
      background-color: $red;
      color: white;
      font-weight: 500;
      padding: .5rem;
      font-size: .9em;
      display: flex;
      align-items: center;
      &.rumored{
        background-color: black;
      }
      &.canceled{
        background-color: black;
      }
      &.in-production{
        background-color: red;
      }
      &.post-production{
        background-color: blue;
      }
      &.released{
        background-color: green;
      }
    }
    &.ongoing{
      height: 2.5rem;
      background-color: $yellow;
      color: black;
      font-weight: 500;
      padding: .5rem;
    }
    &.canceled{
      height: 2.5rem;
      background-color: $red;
      color: white;
      font-weight: 500;
      padding: .5rem;
    }
    &.person{
      height: 2.5rem;
      background-color: black;
      color: white;
      font-weight: 500;
      padding: .5rem;
      font-size: .8em;
      &.crew{
        background-color: rgb(128, 128, 128);
      }
      &.acting{
        background-color: rgb(255, 0, 0);
      }
      &.production{
        background-color: rgb(0, 128, 0);
      }
      &.writing, &.creator{
        background-color: rgb(0, 0, 128);
      }
      &.directing{
        background-color: rgb(0, 0, 255);
      }
      &.sound{
        background-color: rgb(255, 255, 0);
        color: black;
      }
      &.camera{
        background-color: rgb(0, 0, 0);
      }
      &.costume{
        background-color: rgb(255, 192, 203);
        color: black;
      }
      &.visualeffects{
        background-color: rgb(0, 255, 255);
        color: black;
      }
      &.editing{
        background-color: rgb(128, 0, 128);
      }
      &.art{
        background-color: rgb(255, 165, 0);
      }
      &.lighting{
        background-color: rgb(255, 255, 255);
        color: black;
      }
    }
    &.ended{
      height: 2.5rem;
      background-color: $green;
      color: black;
      font-weight: 500;
      padding: .5rem;
    }
  }
  .saga-index{
    position: absolute;
    top: 0;
    left: calc(50% - 25px);
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    background-color: white;
    padding-bottom: .25em;
    font-size: 1rem;
    color: black;
    box-shadow: inset -.1px .1px 2.5px .1px rgba(0,0,0,0.5);
    border-top: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  &.highlight{
    background-color: rgba(255, 215, 0, .5);
    .thumbnail{
      background-color: rgba(255, 215, 0, .5);
      opacity: 1 !important;
      svg{
        opacity: 0;
      }
    }
  }
}

.vote{
  position: absolute;
  top: 0px;
  right: 0px;
  color: black;
  background-color: white;
  border-bottom-left-radius: 50%;
  min-width: 40px;
  // height: 2.75rem;
  padding-top: 0;
  padding-right: .5em;
  padding-bottom: .5em;
  padding-left: .75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: .9rem;
  .count{
    font-size: .6rem;
  }
  box-shadow: inset -.1px .1px 2.5px .1px rgba(0,0,0,0.5);
  &.black{background-color: black;}
  &.grey{background-color: grey;}
  &.lightgreen{background-color: lightgreen;}
  &.green{background-color: green;}
  &.darkgreen{background-color: darkgreen;}
  &.yellow{background-color: yellow;}
  &.gold{background-color: gold;}
  &.orange{background-color: orange;}
  &.red{background-color: red;}
  &.lightblue{background-color: lightblue;}
  &.blue{background-color: blue;}
  &.black, &.grey, &.green, &.darkgreen, &.red, &.blue{
    color: white;
  }
}

.saga-parts{
  padding: 1rem 0;
  width: 800px;
  max-width: 100%;
  margin: auto;
  .media-container{
    .cover-title{
      color: black;
    }
  }
}

img{
  max-width: 100%;
}

.production-companies{
  width: 100%;
  margin-top: 1rem;
  .production-company{
    display: grid;
    grid-template-rows: 70px auto;
    gap: .25em;
    .image{
      display: flex;
      align-items: center;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .title{
      font-size: .75em;
      text-align: center;
    }
  }
}

.overlay-backdrop{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.language-selector{
  position: relative;
  z-index: 10;
  max-width: 5.5rem;
  min-width: 80px;
  flex-shrink: 0;
  div{
    border: none !important;
    &[class*='control']{
      box-shadow: none;
    }
  }
  svg{
    color: $blue;
  }
  [class*='indicatorSeparator']{
    background-color: $blue;
  }
  &.variant{
    margin: unset;
    order: -1;
  }
}

header{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $black;
  box-shadow: 0px 0px 3px 0px rgba(255,255,255,0.5);
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 70px;
  width: 100%;
  @media screen and (max-width: 960px){
    height: 60px;
  }
  .logo-container{
    display: flex;
    align-items: center;
    .logo{
      display: flex;
      gap: 1rem;
      align-items: center;
      h1{
        .logo-icon{
          font-size: 2rem;
        }
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.25rem;
        span{
          @media screen and (max-width: 700px){
            display: none;
          }
        }
      }
    }
  }
  nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    .menu-voice{
      .content{
        display: flex;
        align-items: center;
        gap: .5rem;
        .icon{
          font-size: 1.25rem;
          cursor: pointer;
          color: white;
        }
        span{
          @media screen and (max-width: 700px){
            display: none;
          }
        }
      }
      &:not(:last-child) .content::after{
        content:"|";
        margin: 0 1rem 0 .5rem;
      }
    }
  }
}

.general-info{
  display: flex;
  flex-direction: column;
  gap: .5em;
  .voice{
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 1000px){
    font-size: .8em;
  }
  @media screen and (max-width: 400px){
    font-size: 1em;
  }
}

.announcement{
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  padding: .5rem;
  border: 2px solid white;
  font-weight: bold;
  color: white;
  &.red{
    background-color: red;
  }
  &.grey{
    background-color: grey;
  }
  &.green{
    background-color: green;
  }
  &.blue{
    background-color: blue;
  }
}

.credits-container{
  display: flex;
  gap: 2rem;
  width: 800px;
  max-width: 100%;
  margin: auto;
  @media screen and (max-width: 1000px){
    flex-direction: column;
    gap: 1rem;
  }
  margin-top: 1rem;
  strong{
    font-weight: 600;
  }
  .credits{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 50%;
    @media screen and (max-width: 1000px){
      width: 100%;
      gap: 1rem;
    }
    .voice{
      display: flex;
      flex-direction: column;
      &.mobile-only{
        @media screen and (min-width: 1200px){
          display: none;
        }
      } 
      &.desktop-only{
        .production-companies{
          display: flex;
          flex-wrap: wrap;
          gap: .5rem;
          .production-company{
            width: 80px;
          }
        }
        @media screen and (max-width: 1199px){
          display: none;
        }
      }
    }
  }
}

.overview, .extra, .cast{
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.profit{
  padding: .25em;
  &.red{
    font-weight: 600;
    background-color: red;
    color: white;
  }
  &.grey{
    font-weight: 600;
    background-color: grey;
    color: white;
  }
  &.green{
    font-weight: 600;
    background-color: green;
    color: white;
  }
  &.blue{
    font-weight: 600;
    background-color: blue;
    color: white;
  }
}

.swiper-button-next, .swiper-button-prev{
  @media screen and (max-width: 1200px){
    display: none !important;
  }
}

.swiper-wrapper{
  padding-bottom: 1rem !important;
}

.cast-members{
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  .simple-cover{
    width: 100px;
  }
}

.cover-scroller{
  position: relative;
  &.paddinged{
    @media screen and (min-width: 1200px){
      padding: 0 50px;
    }
  }
}

.seasons, .episodes{
  width: 800px;
  max-width: 100%;
  margin: auto;
  margin-top: 1rem;
  @media screen and (max-width: 1200px){
    padding: 0;
  }
}

.episodes{
  .image{
    height: 90px;
    @media screen and (max-width: 1200px){
      height: 110px;
    }
    @media screen and (max-width: 1000px){
      height: 80px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.simple-cover{
  cursor: pointer;
  &.transparent{
    opacity: .5;
  }
  .name{
    text-align: center;
    font-size: .75em;
    &.orig{
      font-weight: 600;
    }
    &.char{
      font-style: italic;
    }
  }
  .image{
    position: relative;
    .headline{
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, .6);
      color: white;
      font-weight: 600;
      font-size: .75rem;
      padding: .25em;
    }
    .thumbnail{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.highlight{
    background-color: rgba(255, 215, 0, .5);
    .thumbnail{
      background-color: rgba(255, 215, 0, .5);
      opacity: 1 !important;
      svg{
        opacity: 0;
      }
    }
  }
}

.person-credits{
  h4{
    font-size: 1.5em !important;
    margin-bottom: .75em !important;
  }
}

.person-media{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .5rem;
  @media screen and (max-width: 1200px){
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1000px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 515px){
    grid-template-columns: repeat(2, 1fr);
  }
  .media-container{
    max-width: 220px;
    img{
      width: 100%;
    }
    .cover-title{
      color: black;
    }
  }
}

.cast{
  margin-top: 1rem;
  .other-cast{
    line-height: 1.75em;
    strong{
      font-weight: 600;
    }
    font-size: .75em;
    h4{
      font-size: 1.25rem;
    }
  }
}

.extra{
  margin-top: 1rem;
  margin-bottom: 1rem;
  .voice{
    display: flex;
    flex-direction: column;
    gap: .5em;
  }
}

.icon-container{
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  background-color: rgba(0,0,0,.5);
  padding: .3rem;
  border-radius: 50%;
  z-index: 2;
  &.trash{
    bottom: unset;
    top: 4rem;
    right: 0.33rem;
  }
  &.options, &.options2, &.option1, &.option2{
    bottom: 4.25rem;
    svg{
      font-size: 1.5rem;
    }
  }
  &.options2, &.option1, &.option2{
    background-color: rgba(0,0,0,.75);
  }
  &.option1{
    right: 3rem;
  }
  &.option2{
    right: 5.5rem;
  }
}

.add-favorites, .is-favorites{
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  cursor: pointer;
}
.is-favorites{
  color: hsl(48, 100%, 50%);
  &.trash{
    color: rgb(217, 217, 217);
  }
}


.c-modal-title{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  .flag{
    max-width: 2rem;
  }
}
.modal-header button{
  align-self: flex-start;
}

.socials{
  display: flex;
  gap: .75em;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  img{
    width: 22px;
  }
  @media screen and (max-width: 1000px){
    font-size: 1.25rem;
    img{
      width: 22px;
    }
  }
}

.single-media{
  h3{
    font-size: 1.5em;
    margin: 1rem 0;
  }
  h4{
    font-size: 1.25em;
    margin: .5em 0 .25em;
  }
  .media-info{
    width: 800px;
    max-width: 100%;
    margin: auto;
    &::after{
      content: '';
      clear: both;
      display: table;
    }
    .media{
      float: left;
      margin-right: 1rem;
      max-width: 250px;
    }
    @media screen and (max-width: 400px){
      display: flex;
      flex-direction: column;
      .media-container{
        display: flex;
        justify-content: center;
        .media{
          width: 100%;
          float: unset;
        }
      }
      .general-info{
        margin-top: 1rem;
      }
    }
  }
}

.media-videos{
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  .media-video{
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0);
    max-width: 100%;
    img{
      width: calc(160px * 2);
      aspect-ratio: 16/9;
      object-fit: cover;
      max-width: 100%;
    }
    .overlay{
      opacity: 0;
      background-color: rgba(0,0,0,.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: .25s;
      display: flex;
      justify-content: center;
      align-items: center;
      .play-circle{
        color: rgba(255,255,255,0.75);
        font-size: 4rem;
      }
      z-index: 1;
    }
    .official{
      position: absolute;
      bottom: 0;
      right: 0;
      text-transform: uppercase;
      color: white;
      background-color: rgba(0,0,0,0.75);
      padding: .5rem 1rem;
      font-weight: 500;
      box-shadow: 1px 1px 3px 1px rgba(255,255,255,0.5);
    }
    .title{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: .5rem;
      background-color: rgba(255,255,255,.75);
      color: black;
      font-weight: 500;
      font-size: 1.1rem;
      @media screen and (max-width: 1000px){
        font-size: 1rem;
      }
    }
    &:hover{
      .overlay{
        opacity: 1;
      }
    }
  }
}

.media-categories{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .media-category{
    background-color: $blue;
    color: white;
    text-align: center;
    padding: .5rem;
    user-select: none;
    &:not(.active){
      opacity: .5;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 1000px){
    gap: .5rem;
    .media-category{
      min-width: 150px;
    }
  }
}

.lang-flag{
  width: 1.5rem;
  height: 1.5rem;
}

.message{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}

.media-select{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  &.left{
    justify-content: flex-start;
  }
  &.margined{
    margin: 1em 0;
  }
  &.wrapped{
    flex-wrap: wrap;
    gap: .25em;
  }
  .media-option{
    font-size: 1.5em;
    @media screen and (max-width: 1000px){
      font-size: 1em;
    }
    background-color: $blue;
    color: white;
    padding: 1em;
    user-select: none;
    cursor: pointer;
    &:not(.active){
      opacity: .5;
    }
    &.small{
      font-size: 1em;
      @media screen and (max-width: 1000px){
        font-size: .8em;
      }
    }
  }
}

.range-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  span{
    font-size: .9em;
  }
  >div{
    width: 100%;
    &.half{
      width: 47.5%;
    }
  }
}

.range-label{
  @media screen and (max-width: 700px){
    display: flex;
    gap: 1rem;
  }
  .form-switch{
    font-size: .9em;
    margin: 0;
    label{
      font-weight: 400;
    }
  }
}

.image-option{
  display: flex;
  gap: .5rem;
  align-items: center;
  .image{
    img{
      width: 100%;
      height: 100%;
    }
    &.person{
      width: 40px;
      height: 50px;
      img{
        object-fit: cover;
        object-position: top center;
      }
    }
    &.company{
      width: 50px;
      height: 25px;
      img{
        object-fit: contain;
        object-position: center;
      }
    }
  }
  span{
    color: black !important;
  }
}

.page-title{
  background-color: white;
  width: 100%;
  padding: .75rem 1.5rem;
}

.index-nav{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  font-size: 2em;
  margin: 2rem 0;
  @media screen and (max-width: 800px){
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    font-size: 1.5em;
  }
  @media screen and (max-width: 360px){
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    font-size: 1.5em;
  }
  >a{
    border: 1px solid white;
    padding: .5rem;
    transition: all .5s;
    &:hover{
      background-color: white;
      color: #333333 !important;
    }
    .content{
      display: flex;
      gap: .5rem;
      align-items: center;
    }
  }
}

